* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', 'Poppins', sans-serif;
  font-weight: normal;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.glass-box {
  background: #A3C0EB45;
  backdrop-filter: blur(10px);
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 18px;
  box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);

  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NAVBAR EXACT SAME */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0 !important;
}

.nav-left,
.nav-middle,
.nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-left {
  gap: 15px;
  padding-right: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-left img {
  height: 40px;
  width: auto;
  object-fit: contain;
}


.nav-middle {
  gap: 20px;
}

.nav-middle a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.nav-middle a.active {
  background: #A3C0EB45;
  backdrop-filter: blur(10px);
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);
}

.nav-right {
  gap: 7px;
  padding-left: 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

#nav-pengajuan {
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 13px;
  box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);
  padding: 8px 5px 8px 5px;
}

main {
  flex: 1;
  width: 100%;
  height: 80vh;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.persetujuan_container {
  width: 60%;
  max-height: 60vh;
  height: 42rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: flex-start;
  gap: 15px;
  overflow: auto;
  overflow-x: hidden;
}


.persetujuan-header h3 {
  font-size: 22px;
  font-weight: 700;
}


.persetujuan-list {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/*seeting lebar scrollbar*/
.persetujuan-list::-webkit-scrollbar {
  width: 6px;
}
/*setting jalur scrollbar/background scrollbar*/
.persetujuan-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
/*yang bagian bisa di gesernya */
.persetujuan-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}



.persetujuan-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 18px 22px;

  position: relative;
  display: block;
}


.card-left {
  width: 75%;
}

.card-left h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.card-left p {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 6px;
}

.key {
  font-weight: 700;
}

.topik {
  margin-top: 10px;
}

.card-right {
  position: absolute;
  bottom: 18px;
  right: 22px;

  display: flex;
  flex-direction: row;
  gap: 10px;
}



.btn {
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  color: white;
  transition: 0.2s;

}

.tolak {
  background: #004CBD01;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
}

.terima {
  background: #004CBD95;
  color: white;
  backdrop-filter: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  align-items: center;
  padding: 0 2rem;
  height: 60px !important;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0px !important;
}

.footer p {
  font-size: 12px;
  opacity: 0.8;
}

.footer-left img {
  height: 35px;
  width: auto;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}