* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

label {
  font-weight: 100;
}

body {
  height: 100%;
  width: 100%;

  padding: 0px 0px 0px 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;

  background-image: url("../assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  width: 100%;
  min-height: 100px;
}

.nav-left {
  display: flex;
  gap: 15px;
  align-items: center;

  flex-wrap: nowrap;
  flex-direction: row;
}

.glass-box {
    background: #A3C0EB45;
    backdrop-filter: blur(10px);
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);

    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass-box img {
  height: clamp(25px, 3vw, 45px);
  width: auto;
  display: block;
}

.mbta-logo {
    height: clamp(40px, 6vw, 80px);/*agar fleksibel*/
  width: auto;
  object-fit: contain;
}

/* Main */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

#loginForm {
  padding: 20px 50px 20px 50px;
  background: #A3C0EB45;
}

main form {
  border-radius: 20px;
  width: fit-content;
  min-width: 350px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

main form h2 {
  color: white;
  font-size: clamp(24px, 4vw, 36px);
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: white;
  width: 100%;
  margin: 5px;
  font-weight: 1;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

input::placeholder {
  color: #BCBEC0;
}

#button-form {
  display: flex;
  gap: 14px;
  margin-top: 20px;
  width: 100%;
  flex-direction: row;
}

main form button {
  height: 45px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  background: #004CBD95;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
  color: white;
  transition: 0.2s;

  width: 100%;

  margin-bottom: 20px;
}

#cancelButton {
  background: #004CBD01;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
}
/*agar membesar ketika di hover*/
main form button:hover {
  transform: scale(1.02);
}