* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", "Poppins", sans-serif;
  font-weight: normal;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url("../assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

/* Glass-box Effect*/
.glass-box {
  background: #A3C0EB45;
  backdrop-filter: blur(10px);
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 18px;
  box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);

  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0px !important;
}

.nav-left,
.nav-middle,
.nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-left {
  gap: 15px;
  padding-right: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-left img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.nav-middle {
  gap: 70px;
}

.nav-middle a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
}

.nav-middle a:hover {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Header Kanan */
.nav-right {
  gap: 7px;
  padding-left: 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  transition: transform 0.2s;
}

.nav-right a:hover {
  transform: scale(1.1);
}

.nav-right div {
  padding: 0px 6px;
}

#nav-permintaan {
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 13px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);
}

#nav-permintaan a {
  color: white;
  font-weight: 700;
}

/* Main */
main.container {
  flex: 1;
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  width: 85%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
}

.requests-container {
  width: 100%;
  min-height: 50vh;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background: rgba(255, 255, 255, 0.1) !important;
  align-items: stretch;
}

.request-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 25px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  background: rgba(255, 255, 255, 0.05);
  transition: 0.3s ease;
}

.request-card:hover {
  background: rgba(255, 255, 255, 0.15);
}


.card-left {
  flex: 1;
}

.lecturer-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  color: white;
}

.info-grid {
  display: grid;
  grid-template-columns: 70px 15px auto;
  row-gap: 6px;
}

.info-grid span {
  font-size: 14px;
  opacity: 0.9;
  line-height: 1.4;
}

.label {
  font-weight: 400;
}

.separator {
  text-align: center;
}

.value {
  font-weight: 500;
}

.card-right {
  display: flex;
  gap: 12px;
  margin-left: 20px;
}

.btn {
  padding: 8px 24px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  outline: none;
}

.btn-reject {
  background-color: #e63946;
  color: white;
  box-shadow: 0 4px 10px rgba(230, 57, 70, 0.3);
}

.btn-reject:hover {
  background-color: #d62828;
  transform: translateY(-2px);
}

.btn-accept {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-accept:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: translateY(-2px);
}


/* POPUP */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);

  backdrop-filter: blur(2px);

  z-index: 999;
}

.popup {
  height: 15rem;
  width: 25rem;
  padding: 1rem;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  background-color: #0046b0;
  z-index: 1000;
}

.popup textarea {
  width: 80%;
  height: 10em;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  resize: none;
}

.button-popup {
  width: 80%;
  display: flex;
  justify-content: right;
  gap: 0.5em;
}

.button-popup .btn {
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  align-items: center;
  padding: 0 2rem;
  height: 60px !important;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0px !important;
}

.footer p {
  font-size: 12px;
  opacity: 0.8;
}

.footer-left img {
  height: 35px;
  width: auto;
}