* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  font-weight: normal;
}

body {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-image: url("assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 0 !important;
}

.glass-box {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  min-height: 100px;
  border-bottom: 1px white solid;
  border-radius: 0px;
}

#unpar {
  height: clamp(120px, 3vw, 250px);
  width: auto;
  object-fit: contain;
}

#if {
  height: clamp(100px, 3vw, 250px);
  width: auto;
  object-fit: contain;
}

#mbta-logo {
  height: clamp(100px, 3vw, 250px);
  width: auto;
  object-fit: contain;
}

.nav-left,
.nav-middle,
.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;

  flex-wrap: nowrap;
  flex-direction: row;
}
.nav-left{
  padding-right: 50px;
  border-right: 1px solid white;
}

.nav-middle {
  gap: 40px;
}


.nav-middle a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.nav-right{
  padding-left: 50px;
  border-left: 1px solid white;
}

.nav-right a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.content {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  min-width: 1500px;
  min-height: 500px;
  gap: 30px;

  color: white;
  font-size: 50px;
  padding: 20px 50px;
}

#content-profile1 h3 {
  font-weight: bold;
}

.content #content-profile1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content #content-profile1 #qrcode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
}

#qrcode img {
  min-height: 300px;
  width: auto;
  padding: 5% 5%;
  margin-bottom: 5px;
}

.content #content-profile3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.content #content-profile3 #dosbim {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#dosbim p:nth-child(1),
#dosbim p:nth-child(3) {
  font-size: 30px;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 1rem;
  width: 100%;
  min-height: 100px;

  border-top: 1px white solid;
  border-radius: 0px;
}

.footer p {
  color: white;
  font-size: 30px;
}

.footer img {
  height: clamp(100px, 3vw, 250px);
  width: auto;
  object-fit: contain;
}