* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', 'Poppins', sans-serif;
    font-weight: normal;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

/* Efek Blur */
.glass-box {
    background: #A3C0EB45;
    backdrop-filter: blur(10px);
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);

    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px !important;
}

.nav-left,
.nav-middle,
.nav-right {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Logo (Ukuran, posisi, DLL) */
.nav-left {
    gap: 15px;
    padding-right: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-left img {
    height: 40px;
    width: auto;
    object-fit: contain;
}

/* Header Tengah */
.nav-middle {
    gap: 70px;
}

.nav-middle a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
}

.nav-middle a:hover {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Header Kanan */
.nav-right {
    gap: 7px;
    padding-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-right a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: transform 0.2s;
}

.nav-right a:hover {
    transform: scale(1.1);
}

.nav-right div{
    padding: 0px 6px;
}

#profile{
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 13px;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);
}

main{
  align-self: center;
  justify-content: center;
}

#profileLogo{
  font-size: 150px;
  position: absolute;
  top: -100px;
  left: -65px;
}

#dummyText{
    visibility: hidden;
}

.content {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  /* width: 100%;
  height: 100%; */
  max-width: 650px;
  width: 60vw;

    color: white;
    /* font-size: 50px; */
    padding: 20px 20px 20px 50px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

#content-profile1 h3 {
    font-weight: bold;
    font-size: 25pt;
}

.content #content-profile1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content #content-profile1 #qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 15px;
}

#qrcode img {
    padding: 5px 5px 5px 10px;
    margin-bottom: 5px;
    width: 160px;
    height: 150px;
}

.content #content-profile3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.content #content-profile3 #dosbim {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
#dosbim{
    padding: 0px 15px 0px 0px;
}

#dosbim p:nth-child(1),
#dosbim p:nth-child(3) {
    font-size: 7pt;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
justify-self: end;
  align-items: center;
  padding: 0 2rem;
  height: 60px !important;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0px !important;
}

.footer p {
    font-size: 12px;
    opacity: 0.8;
}

.footer-left img {
    height: 35px;
    width: auto;
}