* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', 'Poppins', sans-serif;
    font-weight: normal;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../assets/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Efek Blur */
.glass-box {
    background: #A3C0EB45;
    backdrop-filter: blur(10px);
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);

    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px !important;
}

.nav-left,
.nav-middle,
.nav-right {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-left {
    gap: 15px;
    padding-right: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-left img {
    height: 40px;
    width: auto;
    object-fit: contain;
}

.nav-middle {
    gap: 70px;
}

.nav-middle a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
}

.nav-middle a:hover {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.nav-right {
    gap: 7px;
    padding-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-right a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: transform 0.2s;
}

.nav-right a:hover {
    transform: scale(1.1);
}

.nav-right div {
    padding: 0px 6px;
}

#nav-area_admin {
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 13px;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);
    padding: 5px;
}

/* Main */
main.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
}

#submissionForm {
    width: 90%;
}

.formTitle {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28pt;
    text-shadow: 0 0 4px white;
}

.formTitle h2 {
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 700;
    margin-bottom: 10px;
}

.formTitle p {
    font-size: 14px;
    opacity: 0.9;
}

.form {
    padding: 15px 25px 25px 25px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.input-field {
    width: 100%;
    height: 30px;
    padding: 2px 2px 2px 5px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    transition: 0.3s;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.8);
}

.input-field>option:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background: rgba(200, 200, 200, 0.6);
    color: #777;
    box-shadow: none;
}

input[type="date"] {
    cursor: pointer;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
}

#batalButton {
    background-color: #F0252599;
    margin-left: 0;
}

#submitButton {
    background-color: #10BD0099;
    margin-right: 0;
}

#plusButton {
    background-color: #FFFFFF00;
    color: rgb(191, 191, 191);
    font-size: 20px;
    border: transparent;
    position: absolute;
    right: 60px;
    bottom: 95px;
}

.btn-submit {
    width: 50%;
    padding: 14px;
    margin-left: 10px;
    margin-right: 10px;
    background: #004CBD95;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in-out;
}

.btn-submit:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    filter: brightness(1.1);
}

/* POPUP*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-overlay.show {
    display: flex;
    opacity: 1;
}

.modal-box {
    background: #0046B0;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    width: 30vw;
    max-width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);
    color: white;
}

.modal-box h3 {
    font-size: 37px;
    margin-bottom: 30px;
    font-weight: 700;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.btn-modal {
    padding: 12px 0 12px 0;
    width: 49%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

#noBtn {
    background-color: #F0252599;
    margin-left: 0;
    box-shadow: 0 1px 8px rgba(255, 255, 255, 0.5);
}

#noBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    filter: brightness(1.1);
}

#yesBtn {
    background-color: #10BD0099;
    margin-right: 0;
    box-shadow: 0 1px 8px rgba(255, 255, 255, 0.5);
}

#yesBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    filter: brightness(1.1);
}

.btn-cancel {
    background: #F02525;
    color: white;
}

.btn-confirm {
    background: #10BD00;
    color: white;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    justify-self: end;
    align-items: center;
    padding: 0 2rem;
    height: 60px !important;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px !important;
}

.footer p {
    font-size: 12px;
    opacity: 0.8;
}

.footer-left img {
    height: 35px;
    width: auto;
}